# Big Data Analytics Project

In [5]:
import pandas as pd

# Load the JSON file into a Pandas DataFrame
salesdf = pd.read_json('sales.json', lines=True)

In [6]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
num_rows, num_columns = salesdf.shape

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 5000
Number of Columns: 7

In [11]:
from IPython.display import display, HTML

# Assuming 'salesdf' is your DataFrame
html_table = salesdf.head(3).to_html(classes='customtable', index=False)

# Define custom CSS styles to color the header
styles = """
    <style>
        .customtable {
            border-collapse: collapse;
            width: 100%;
        }
        .customtable th {
            background-color: #4e20ce; /* background color for header */
            color: white; /* White text color for header */
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        .customtable td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
"""

# Display the HTML with custom styles
display(HTML(styles + html_table))