# Big Data Analytics Project

In [5]:
import pandas as pd

# Load the JSON file into a Pandas DataFrame
salesdf = pd.read_json('sales.json', lines=True)

In [6]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
num_rows, num_columns = salesdf.shape

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 5000
Number of Columns: 7

In [14]:
from IPython.display import display, HTML

# Assuming 'salesdf' is your DataFrame
html_table = salesdf.head(3).to_html(classes='customtable', index=False)

# Define custom CSS styles to color the header
styles = """
    <style>
        .customtable {
            border-collapse: collapse;
            width: 100%;
        }
        .customtable th {
            background-color: #4e20ce; /* background color for header */
            color: white; /* White text color for header */
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        .customtable td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
"""

# Display the HTML with custom styles
display(HTML(styles + html_table))

In [15]:

# Extract relevant information from the 'items' column
items_df = pd.json_normalize(salesdf['items'].explode()).reset_index()

In [19]:

# Assuming 'items_df' is another DataFrame
head_rows = items_df.head(3)
tail_rows = items_df.tail(3)

# Add a row with "..." to indicate skipped rows
ellipsis_row = pd.DataFrame(["..."] * len(head_rows.columns)).T
ellipsis_row.columns = head_rows.columns
table_with_ellipsis = pd.concat([head_rows, ellipsis_row, tail_rows])

# Convert to HTML
html_table = table_with_ellipsis.head(5).to_html(classes='customtable', index=False)

# Display the HTML with custom styles for items_df
display(HTML(styles + html_table))

In [21]:
# Assuming 'items_df' is your DataFrame
items_df['sales'] = items_df['quantity'] * items_df['price.$numberDecimal'].astype(float)

# Group by product name and calculate total sales
Top_10_Product_Sales = items_df[['name','sales']].sort_values(by='sales', ascending=False).head(10)

# Add a new column 'rank' with numbers (1, 2, 3, ...)
Top_10_Product_Sales.insert(0, 'Top10', range(1, len(Top_10_Product_Sales) + 1))

# Convert to HTML
html_table = Top_10_Product_Sales.head(10).to_html(classes='customtable', index=False)

# Display the HTML with custom styles for Top_10_Product_Sales
display(HTML(styles + html_table))

# 2.Show Top 3 Products (name) Sales by  Store(location)

In [22]:
salesbystore = salesdf[['storeLocation','purchaseMethod','saleDate']].reset_index()

In [23]:
merged_df = pd.merge(items_df,salesbystore, left_on='index', right_on='index')
html_table = merged_df.head().to_html(classes='customtable', index=False)
display(HTML(styles + html_table))

In [24]:
# Assuming 'merged_df' is your DataFrame
top_3_productsales_by_store = merged_df.groupby(['storeLocation', 'name'])['sales'].sum().reset_index()
top_3_productsales_by_store = top_3_productsales_by_store.sort_values(by='sales', ascending=False)

# Add a new column 'rank' with numbers (1, 2, 3, ...)
top_3_productsales_by_store.insert(0, 'Top3', range(1, len(top_3_productsales_by_store) + 1))

# Convert to HTML
html_table = top_3_productsales_by_store.head(3).to_html(classes='customtable', index=False)

# Display the HTML with custom styles for top_3_productsales_by_store
display(HTML(styles + html_table))

# 3.Show rankings of each store (location)

In [25]:
# Group by store location and calculate total sales
store_rankings = merged_df.groupby('storeLocation')['sales'].sum().reset_index()
# Convert to HTML
html_table = store_rankings.head(3).to_html(classes='customtable', index=False)

# Display the HTML with custom styles for top_3_productsales_by_store
display(HTML(styles + html_table))

In [26]:
# Sort the values by total sales in descending order
store_rankings = store_rankings.sort_values(by='sales', ascending=False)

# Add a rank column based on total sales
store_rankings['rank'] = range(1, len(store_rankings) + 1)

# Convert to HTML
html_table = store_rankings.head().to_html(classes='customtable', index=False)

# Display the HTML with custom styles for top_3_productsales_by_store
display(HTML(styles + html_table))

# 4.Show purchased method by gender table

In [27]:
print(merged_df['purchaseMethod'].unique())

['Online' 'Phone' 'In store']

In [34]:

# Assuming customer information is in a column named 'customer'
customer_df = salesdf['customer'].apply(pd.Series)
# Merge the customer information with the items information
merged_customer_df = pd.merge(merged_df, customer_df, left_on='index', right_index=True)
# Convert to HTML
html_table = merged_customer_df.head().to_html(classes='customtable', index=False)

# Display the HTML with custom styles for top_3_productsales_by_store
display(HTML(styles + html_table))

In [39]:
# Assuming 'purchaseMethod' is a column in your dataframe
purchase_by_gender = pd.crosstab(merged_customer_df['gender'], merged_customer_df['purchaseMethod'])

# Display the table
print(purchase_by_gender)

purchaseMethod  In store  Online  Phone
gender
F                   1430     813    284
M                   1389     772    312

In [55]:

# Assuming 'saleDate' is the column containing date information
merged_customer_df['saleDate'] = merged_customer_df['saleDate'].apply(lambda x: x['$date'] if isinstance(x, dict) else x)

# Convert 'saleDate' to datetime format
merged_customer_df['saleDate'] = pd.to_datetime(merged_customer_df['saleDate'])

# Extracting year and month from 'saleDate'
merged_customer_df['year'] = merged_customer_df['saleDate'].dt.year
merged_customer_df['month'] = merged_customer_df['saleDate'].dt.month

# Drop rows with non-finite (NA or inf) values in 'month'
merged_customer_df = merged_customer_df.dropna(subset=['month'])

# Convert 'month' and 'year' to integer type
merged_customer_df['month'] = merged_customer_df['month'].astype(int)
merged_customer_df['year'] = merged_customer_df['year'].astype(int)

# Assuming 'sales' is the column representing sales amount
# If it's not present, you may need to check how the sales data is stored in your DataFrame
monthly_total_sales = merged_customer_df.groupby(['year', 'month']).agg({'sales': 'sum'}).reset_index()

# Convert to HTML
html_table = monthly_total_sales.to_html(classes='customtable', index=False)

# Display the HTML with custom styles for top_3_productsales_by_store
display(HTML(styles + html_table))